.speedDial{

    position: absolute;
    right: 5vmax;
    top: 1vmax;
}
.speedDialIcon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.MuiSpeedDial-root{
    padding-right: 9px;
    padding-top: 8px;
}
.MuiSpeedDial-root>button{
    height: 40px;
    width: 40px;
}