.speedDial{

    position: absolute;
    /* right: 5vmax; */
     top: 0vmax; 
}
.speedDialIcon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.MuiSpeedDial-root{
    padding-right: 9px;
     padding-top: 5px; 
}
.MuiSpeedDial-root>button{
    height: 35px;
    width: 35px;
    
    border-radius: 100%;
}
.MuiButtonBase-root>svg{
    color: #de1515;
}
.MuiButtonBase-root>svg:hover{
    color: blueviolet;
}